@media (max-width: 600px) {
    .nav ol {
        margin:0;
        padding:0;
        list-style-type:none;
    }
    .nav>ol>li {
        float:left;
        width:180px;
        position: relative;
    }
    .nav ol a {
        display: block;
        border: 1px solid black;
        padding: 8px;
        text-decoration: none;
    }
    .nav ol ol a {
        display: block;
        border: 1px dashed black;
        padding: 8px;
        text-decoration: none;
    }
    .nav li .second {
            display: none;
            position: absolute;
            top: 100%;
            left:0;
    }
    .nav li:hover .second{
        display: block;
    }
    .nav li li {
    width:180px;
    }
    .ekran{
        float: left;
        clear: left;
        margin-top:25% ;
    }
    video{
        width: 30%;
        height: 40%;
    }
    audio{
        width: 50%;
    }
}
@media (min-width: 600px) {
    .nav{
        border: 2px solid black;
        width: 30%;
        height: 40%;
        float:left;
    }
    .nav>ol>li:first-child{
        list-style: none;
    }
    .second{
        margin-left: 0px;
        padding-left: 0px;
    }
    .ekran{
        margin-left: 50%;
        border: 2px solid black;
        width: 30%;
        height: 40%;
    }
    video{
        width: 30%;
        height: 40%;
    }
    audio{
        width: 50%;
    }
}