div{
    display: inline-block;
}
div img{
    width: 100px;
}
img:nth-child(1){
        transform:
        perspective(20px)
        rotateX(3deg);
    }
img:nth-child(2){
        transform:
        perspective(20px)
        rotateY(3deg);
    }
img:nth-child(3){
        transform:
        perspective(20px)
        rotateX(5deg);
    }
img:nth-child(4){
        transform:
        perspective(20px)
        rotateY(-3deg);
    }
    @keyframes hhh {
        0% {opacity: 0%;}
        100%{opacity: 80%;}
        }
        h1{
            position: relative;
            animation-name: hhh;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }