span{
    color:blue;
}
strong {
    color:white;
}
.r {
    display:inline-block;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.r:nth-child(1){
    border: 5px solid rgb(255,0,0);
}
.r:nth-child(2){
    border: 5px dashed rgb(0, 255, 0);
}
.r:nth-child(3){
    border: 5px dotted rgb(0, 0, 255);
}
.r:nth-child(4){
    border: 5px double rgb(16, 112, 141);
}
.r:nth-child(5){
    border: 5px ridge rgb(109, 9, 139);
}
.r:nth-child(6){
    border: 5px inset rgb(150, 180, 16);
}
.r:nth-child(7){
    border: 5px outset rgb(0, 0, 0);
}

h2{
    margin: 5px;
    padding: 5px;
    background-color: #FFA500;
    border: 1px solid #FF4500;
}
.h2_1{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FF7F50;
}
.h2_2{
    border: 5px solid red;
    border-radius: 40px/20px;
    box-shadow: inset 2px 2px 8px 8px rgba(0,0,0,.5);
    overflow: auto;
}
.h2_3{
    border: 1px solid #FF6347;
}
.yt:nth-child(1){
    border-left: 1px solid brown;
    border-bottom: 1px solid yellow;
    border-right: 1px solid darkblue;
    border-top: 1px solid orange;
}
.yt:nth-child(2){
    border-left: 1px solid #007BA7;
    border-right: 1px solid #007BA7;
}
.yt:nth-child(3){
    border-top: 1px solid rgb(229 43 80);
    border-left: 1px dashed lightblue;
    border-right: 1px dashed lightblue;
    border-bottom: 1px dashed lightblue;
}
.yt:nth-child(4){
    border: 1px dotted orange;
}
.yt:nth-child(5){
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    border-left: 2px dashed brown;
    border-right: 2px dashed brown;
}
.yt:nth-child(6){
    border: 1px double #B3446C;
}
.yt:nth-child(7){
    border-top:1px dashed #808000;
    border-bottom: 3px solid #FF7518;
}
.yt:nth-child(8){
    border-left: 1px double #CC7722;
    border-bottom: 1px double #CC7722;
}
.yt:nth-child(9){
    border-left: 1px ridge #B5A642;
    border-right: 1px ridge #B5A642;
}
.yt:nth-child(10){
    border-bottom: 5px dotted rgb(0, 40, 0);
    border-left: 5px dotted rgb(0, 40, 0);
    border-right: 5px dotted rgb(0, 40, 0);
}